.top{
  margin: 0 auto 0px auto;
  width: 600px;
  display: flex;
}
.top > a{
  font-size: 30px;
  font-weight: bolder;
  color: #E8E8E8;
  text-align: left;
  position: absolute;
  border-color: transparent;
}


.create_event{
  font-size: 25px;
  color: #244048;
  text-align: center;
  margin: 0 auto 0 auto;
  padding-top: 2%;
  padding-bottom: 2%;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.subtitle{
  font-size: 20px;
  margin-bottom: 20px;
  color: #244048;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.input-container{
  margin: 0 auto 0px auto;
  width: 600px;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.input{
  width: 600px !important;
  height:80px;
  border-width: 3px !important;
  border-color: #BCBCBC !important;
  border-radius: 10px !important;
  padding-top:4%  !important;
  padding-left:5%  !important;
  font-weight: 100 !important;
  font-size: 20px !important;
  letter-spacing: 1px !important;
  color: #BCBCBC !important;
  font-family: 'San Francisco', Helvetica, Arial, san-serif !important;

}
.time-container{
  margin: 50px auto 0 auto;
  width: 600px;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.button-container{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 10%;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.timeBubble{
  height:70px !important;
  width:70px !important;
  border-color: #E2E2E2 !important;
  border-width: 2px !important;
  border-radius: 100px !important;
}
.datePickerContainer{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 10%;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.estimate_time{
  color: #FD4D3A;
  font-size: 2rem;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-weight: 100;

}
.estimated-time-text{
  font-size: 1.5rem;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.deadline-text{
  font-size: 1.5rem;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.button-container > Button{
  border-radius:100%;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.deadline{
  display: flex;
  justify-content: space-between;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.deadline_month{
  color: white;
  font-size: 1.2rem;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  letter-spacing: 1px;
  font-weight: 400;
}
.place-container{
  margin-top: 10%;

}
.lg{
  font-size: 4rem;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.place{
  display: flex;
  justify-content: space-around;
}
.false{
}
.true{
  color: #FD4D3A;
}
.verticle-flex{
  display: flex;
  flex-direction: column;
}
.text-center{
  text-align: center;
}
.create_button > Button{
  border-radius:10px;
  border-color: #FD4D3A;
  border-width: 2px;
}
.create_button{
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}
.is_true{
  color: red;
}
.is_false{
}
/*******************************************************************************************/

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}

.switch > input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.placeIcon{

  width: 70px;

}
.doneBtn{
  width: 450px !important;
  height: 60px !important;
  background-color: #FD4D3A !important;
}
.backIcon{
  width:30px;
}
.backbtn{
  border-color: white !important;
  border-width: 1px !important;
  margin-top: 30% !important;
  margin-left:10% !important;
  position: absolute !important;
  z-index: 100 !important;
}

#places{
  margin-top: 10px !important;
  letter-spacing: 1px !important;
  font-weight: 100!important;
  font-size: 24px !important;
  justify-content: center !important;
  font-family: 'San Francisco', Helvetica, Arial, san-serif!important;
}
