.lg-time{
  color: #FD4D3A;
  font-size: 3rem;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-weight: 100;
}
.time{
  color: #FD4D3A;
  font-size: 2rem;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-weight: 100;
}
.minute{
  color: #95989A;
  font-size: 2rem;
  text-align: center;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-weight: 100;
  margin-bottom: 8%;
}
.button{
  text-align: center;
  margin-top: 10%;
}
.button > Button{
  border-radius:100%;
  width:100px;
  height:100px;
  border-width: 2px;
  border-color: #E2E2E2;
  margin: 1%;
}
.center{
  text-align: center;
  margin: 1%;
}
.mystuff{
  color: #2A729F;
  font-size: 3rem;
  text-align: left;
  letter-spacing: 5px;
}
.video{
  color: #55A52A;
  font-size: 3rem;
  text-align: left;
  letter-spacing: 5px;
}
.article{
  color: #D63E66;
  font-size: 3rem;
  text-align: left;
  letter-spacing: 5px;
}
.icon{
  width:40px;
  height:40px;
}
.link_button{
  width: 600px;
  border-width: 20px !important;
  border-radius: 100px !important;
  border-color: pink !important;
  background-color: white !important;
  margin-bottom: 2% !important;
  padding-top: 20%;
}
.bottom-container{
  margin: 100px auto 0 auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.plus-class{
  color: #FD4D3A;
  font-size: 3rem;
  transition: 0.2s ease;
}
.plus-class:hover{
  transform: scale(1.2);
}
.user-class{
  color: #FD4D3A;
  font-size: 3rem;
  transition: 0.2s ease;
}
.user-class:hover{
  transform: scale(1.2);
}
.music-button-class{
  color: #FD4D3A;
  font-size: 3rem;
  border: #FD4D3A 2px solid;
  border-radius: 50%;
  padding: 20%;
  padding-right: 30%;
}
.pause-button-class{
  color: #FD4D3A;
  font-size: 3rem;
  border: #FD4D3A 2px solid;
  border-radius: 50%;
  padding: 20%;
}
.music-class-false{
  color: #E8E8E8;
  font-size: 2rem;
}
.music-class-true{
  color: #FD4D3A;
  font-size: 2rem;
}
.success_create{
  width: 200px;
  margin: 20px auto 0 auto;
}
.success_create_account{
  width: 500px;
  margin: 20px auto 0 auto;
  text-align: center;
}
.music_play_button > i{
  transition: 0.2s ease;
}
#play_music:hover {
  transform: scale(1.2);
}
