.setting-top{
  margin: 0 auto 0px auto;
  width: 600px;
}
.setting-top > a{
  font-size: 30px;
  font-weight: bolder;
  color: #E8E8E8;
  text-align: left;
  position: absolute;
  border-color: transparent;
}
.username{
  margin-top: 0px;
  color: #FD4D3A;
  font-size: 40px;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-weight: 600;
}

.welcome{
  display: flex;
}
.welcome > h3{
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 0.4px;
  color: #242F38;
}
.setting-top{
  margin-top: 100px;
  margin-bottom: 60px;
  display: flex;
}
.right-top{
  margin-left: 35%;
  margin-top:0%;
  position: absolute;
  z-index: 100px;
}
.pic{
  width: 100px;
}
.logout{
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.setting-item-container{
  color: gray;
  font-size: 35px;
}
.flex-display{
  display: flex;
  justify-content: space-between;
}
.flex-display > a{
  color: gray !important;
  transition: 0.2s ease;
}
.flex-display > a:hover{
  color: #FD4D3A !important;
  transform: scale(1.1);
}
.centered{
  margin: auto 0;
  font-size: 50px;
}
hr{
  border: 1px solid #E8E8E8 !important;
}
.backbtn{
  border-color: white !important;
  border-width: 1px !important;
  margin-top: 15% !important;
  margin-left:10% !important;
  position: absolute !important;
  z-index: 100 !important;
}
.subtitle{
  font-size: 30px;
  color: #244048;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.logout{
  color: white;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  font-size:20px;
}
.logout : hover{
  color: #244048;
  transition: 0.2 ease;
}
.logoutContainer{
  background-color: #E2E2E2;
  width:200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border-width: 2px;
  border-color: #E2E2E2;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}
.settingsIcon{
  width:70px;
  height: 70px;
}
