.username{
  color: #FD4D3A;
  font-size: 60px;
}
.welcome{
  display: flex;
}
.setting-top{
  margin-top: 30px;
  margin-bottom: 60px;
}
.setting-item-container{
  color: gray;
  font-size: 35px;
}
.flex-display{
  display: flex;
  justify-content: space-between;
}
.centered{
  margin: auto 0;
  font-size: 50px;
}
hr{
  border: 1px solid #E8E8E8 !important;
}
